
nav.sidebar {
  padding: 0;
  border-radius: 0;
  margin: 0;
  li.title {
    color: #afdefa;
    font-size: 1.9em;
    padding: 18px;
    background: #0d77b6;
  }
  li {

    margin: 0 0 0 0;
    width: 100%;
  }

  .navbar-nav > li {
    border-bottom: 1px solid #258ecd
  }
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .navbar-collapse, nav.sidebar .container-fluid {
    padding: 0 0px 0 0px;
  }
}




